# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
*.env

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs and Editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Dataset storage
data/

# Checkpoints
checkpoints/

# Logs
logs/